:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --primary-color: #f1f5f9;
  --secondary-color: rgb(44, 70, 143);
  --tertiary-color: #0C3DEA;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f1f5f9;
}

.App {
  display: flex;
  flex-direction: column;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  height: 80px;
  width: 100%;
  position: fixed;
}

#navbar h1 {
  text-align: center;
  font-size: 2rem;
  color: white;
  min-width: 120%;
  margin-left: 10%;
  padding-block: 2%;
  border-radius: 20px;
}

#navbar h1:hover {
  font-weight: 700;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

#navbar h1:hover {
  cursor: pointer;
}

#navbar ul {
  margin-right: 24vh;
  display: flex;
  gap: 10%;
  align-items: center;
  list-style: none;
}

#navbar a {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  padding-block: 8%;
  padding-inline: 10%;
  border-radius: 12px;
}

#navbar a:hover {
  font-weight: 700;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.social-media--container {
  display: flex;
  margin-left: 10%;
}

.social-media--container a {
  padding: 0;
}

.social-media--container img {
  height: 40px;
  filter: invert(100%) sepia(100%) saturate(15%) hue-rotate(228deg) brightness(102%) contrast(100%);
}

.social-media--container a:hover img {
  filter: invert(12%) sepia(78%) saturate(7460%) hue-rotate(234deg) brightness(95%) contrast(93%);
}

h2 {
  color: var(--secondary-color);
  font-size: 3rem;
}

#about--section {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8%;
  padding: 10% 10% 10% 10%;
  border-bottom: 8px solid var(--secondary-color);
  padding-bottom: 13%;
}

.about--info {
  display: flex;
  flex-direction: column;
}

#resume {
  font-size: 1.5rem;
  font-weight: 600;
  padding-inline: 8%;
  padding-block: 4%;
  border-radius: 20px;
  text-decoration: none;
  background-color: var(--secondary-color);
  color: white;
  max-width: 35%;
  margin-top: 5%;
  text-align: center;
}

#resume:hover {
  font-weight: 700;
  background-color: var(--tertiary-color);
}

.about--info {
  max-width: 40%;
}

.about--info p {
  font-size: 1.5rem;
  font-weight: 600;
}

.profile-picture {
  object-fit: contain;
  max-width: 50%;
}

#skills--section {
  padding-top: 3%;
  margin-inline: 10%;
}

#skills--section p {
  font-size: 1.5rem;
  font-weight: 600;
}

#skills--section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  gap: 5%
}

#skills--section i {
  font-size: 5rem;
  padding: 4px;
  border-radius: 12px;
}

#skills--section i:hover {
  cursor: pointer;
  background-color: gainsboro;
}

#project--section {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-direction: column;
  margin-inline: 10% ;
  margin-bottom: 20%;
}

#project--section h3 {
  font-size: 1.7rem;
  font-weight: 800;
}

#project--section p {
  font-size: 1.2rem;
  font-weight: 700;
}

.projects--container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  border-radius: 12px;
  padding-top: 3%;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 300px;
  border: 8px solid var(--secondary-color);
  border-radius: 20px;
}

.project:hover {
  background-color: white;
  border-color: var(--tertiary-color);
}

.project-img--container {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.project-img {
  max-height: 80%;
  max-width: 180px;
}

.project--links {
  display: flex;
  justify-content: flex-end;
  gap: 4%;
}

.project--info {
  margin-top: 1%;
  padding-top: 1%;
  padding-inline: 5%;
  margin-inline: 5%;
  margin-bottom: 5%;
  border-radius: 12px;
}

.project--info:hover {
  background-color: #1e3a8a;
  color: white;
}

.project li {
  list-style: none;
}

.project a {
  min-height: 50px;
  min-width: 50px;
}

.project a:hover img {
  filter: invert(100%) sepia(100%) saturate(15%) hue-rotate(228deg) brightness(102%) contrast(100%);
}

#project--section,
#contact--section {
  padding-top: 5%;
  border-top: 8px var(--secondary-color) solid;
}

#contact--section {
  display: flex;
  align-items: center;
  gap: 4%;
  padding-inline: 12%;
  margin-bottom: 10%;
}

#contact--section .profile-picture {
  max-height: 250px;
}

.contact--info {
  padding-block: 3%;
  padding-inline: 8%;
  border-radius: 3%;
  border: 8px solid var(--secondary-color);
  color: var(--secondary-color);
}

.contact--info h2 {
  margin-top: 1%;
}

.contact--info p {
  font-size: 1.3rem;
  font-weight: 600;
  min-width: 40%;
  max-width: 70%;
}

.email--info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 3%;
  min-height: 100px;
}

.email--info img {
  max-height: 25px;
}

.contact--info button {
  padding-left: 0;
  margin-top: 5%;
  margin-bottom: 5%;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.3rem;
  font-weight: 600;
}

.contact--info button:hover {
  cursor: pointer;
  border-radius: 8px;
  border: 4px solid var(--tertiary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 700;
}

.contact--info button:active{
  border: none;
  padding: 4px;
  background-color: black;
  color: var(--primary-color);
  font-weight: 700;
}

.contact--info .social-media--container a {
  padding-right: 2%;
}

.contact-img {
  min-width: 10%;
  border: black solid 4px;
  border-radius: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 8px;
  background-color: var(--secondary-color);
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 600;
  padding-inline: 1%;
  border-radius: 12px;
}

footer a:hover {
  color: var(--tertiary-color);
  background-color: var(--primary-color);
}

@media (max-width: 1000px) {
  #navbar h1 {
    font-size: 1.5rem;
  }

  h2 {
    margin-top: 5vh;
    margin-bottom: 0;
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .about--info {
    min-width: 100%;
  }

  #about--section #resume {
    font-size: 1rem;
    margin-bottom: 5%;
    margin-left: 22%;
  }

  .profile-picture {
    margin-left: 8%;
    min-width: 80%;
  }

  #contact--section {
    flex-wrap: wrap;
  }

  .contact--info {
    width: 100%;
    margin-bottom: 5%;
  }

  footer {
    visibility: hidden;
  }
}